@model IEnumerable<ExpMvc.Models.exp>

@{
    ViewBag.Title = "View Expances";
}
<div class="row">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Expances</h5>
            <a href="@Url.Action("AddOrEdit","exps")" class="btn btn-success"><i class="material-icons" align="center">add</i>Add New</a>
        </div>
        <div class="card-body">

            <div class="example-container">
                <div class="example-content">
                    <table class="table">

                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Expance Id</th>
                                <th scope="col">Expance Title</th>
                                <th scope="col">Expance Description</th>
                                <th scope="col">Expance Category</th>
                                <th scope="col">Expance Amount</th>
                                <th scope="col">Category id</th>
                                <th scope="col">Edit | Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.category)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.catid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.datetime)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("AddOrEdit","exps", new{ id = item.id})" class="btn btn-outline-warning"><i class="material-icons" align="center">edit</i>Edit</a>
                                        <a onclick="Delete(@item.id)" class="btn btn-outline-danger"><i class="material-icons" align="center">delete_outline</i>Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != ''){
                alertify.success(successMessage);
            }
            });
        function Delete(id) {
            alertify.confirm('Expance Delete Opration', 'Are You Sure To Delete This Expance ? ',function () {
                window.location.href = '@Url.Action("Delete","exps")/' + id;
            },null );
        }
    </script>
}
